@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flyPlane {
  from { transform: translateX(-200px); }
  to   { transform: translateX(120vw); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

button {
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  border: none;
  background: #5070a4;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #2563eb;
  transform: translateY(-5px);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

:root {
  --bg: linear-gradient(to bottom, #74c0fc, #a5d8ff, #d0ebff);
  --text-color: #000000; /* default black for light mode */
}

.theme-overlay.dark {
  background: linear-gradient(to bottom, #122f5e, #2c1544 80%);
}

body.dark {
  --text-color: #ffffff;
}