* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--bg);
  transition: background 0.8s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  user-select: none;
  pointer-events: none;
}

body {
  color: var(--text-color);
}